* {
  box-sizing: border-box;
}

.loginContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fafc;
}

.login-box {
  width: 500px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.login-box h1 {
  text-align: center;
  color: #166534;
  margin-bottom: 8px;
}

.login-subtitle {
  text-align: center;
  color: #64748b;
  margin-bottom: 10px;
}

.login-subtitle2 {
   text-align: center;
   color: #000000;
   margin-bottom: 20px;
   font-weight: bold;
   font-size: 24px
} 

.login-subtitle-cadastro {
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.input-group {
   margin-bottom: 20px;
}

.input-group label {
  display: block;
   margin-bottom: 10px;
   color: #1e293b;
   font-weight: bold;
}

.input-group input {
   width: 100%;
   padding: 12px;
   border: 1px solid #cbd5e1;
   border-radius: 6px;
   font-size: 15px;
   outline: none;
}

.input-group input:focus {
   border-color: #16a34a;
}

.login-box button {
   width: 100%;
   padding: 12px;
   border: none;
   border-radius: 6px;
   background-color: #16a34a;
   color: white;
   font-size: 17px;
}

.login-box button:hover {
   background-color: #166534;
}

.cadastro-text {
   text-align: center;
   margin-top: 25px;
   color: #64748b;
   font-size: 14px;
}

.cadastro-text a {
   color: #2563eb;
   font-weight: bold;
   text-decoration: none;
}

.cadastro-text a:hover {
   text-decoration: underline;
}

.container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.container button {
  flex: 1;
  justify-content: center;
  width: 150px;
  height: 45px;
  background-color: #2563eb;
  justify-content: center;
  width: 218px
}

.container button:hover {
  background-color: #19429b;
}

.container {
  display: flex;
  justify-content: center;
  gap: 15px;
}